{% extends 'base.html' %}

{% block content %}

<a href="/">Home</a>

<h1>{{ guest.name }}</h1>

<p><strong>Email:</strong> {{ guest.email }}</p>
{% if guest.phone %}
<p><strong>Phone:</strong> {{ guest.phone }}</p>
{% endif %}

<h2>Events Attending:</h2>

{% if guest.events_attending %}
<ul>
    {% for event in guest.events_attending %}
    <li><a href="{{ url_for('main.event_detail', event_id=event.id) }}">{{ event.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Not currently attending any events.</p>
{% endif %}

{% endblock %}
